@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-color: #FCFCFE;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes spin-faster {
  100% {
    transform: rotate(360deg);
  }
}

.spin-hover:hover {
  animation: spin-faster 0.3s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}